@charset "UTF-8"

/* estilos para telas*/

*{
    margin: 0px;
    padding: 0px;

}
html{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background-color: lightgreen;
}
header > h1{
    text-align: center;

}


menu ul{
    list-style-type: none;
    background-color: gray;
}

menu li{
    display: inline-block;
    padding: 10px;
    background-color: rgba(46, 36, 36, 0);
    color: white;
}
article {
    width: 600px;
    display: block;
    margin: auto;
}